:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing:border-box;   
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #8693abff;
  color: white;
}

.logo img {
  max-width: 100%;
  height: auto;
}

header h1 {
  font-size: 25px;
  color:white;
  text-align: center;
}

.main_street_image img {
  width: 100%;
}

.login_button {
  background-color: #d1495b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.disney img {
  width: 30%;
  align-items: center;
  padding: 50px;
}

form {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  background-color: #efc88bff;
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  background-color: #d1495b;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #8693abff;
}

.snack_list_button {
  display: block;
  background-color: #d1495b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px auto;
  cursor: pointer;
  border-radius: 5px;
  width: fit-content;
}

.pretzel {
  text-align: center;
}

.pretzel img {
  margin: auto;
  display: block; 
  width: 20%;
  height: 20%;
  padding-top: 20px;
}

footer {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  background-color: #31393cff;
  color: #efefef;
}


@media (max-width: 800px) {
  .muffins, .breads {
    flex: 100%;
  }
}

@media (max-width: 600px) {
  .header {
      text-align: center;
  }    
}

@Media (max-width: 480px) {
  header {
      font-size: 18px;
      padding: 10px;
  }

  .home h1 {
      font-size: 25px;
  }
  
  .home p {
      font-size: 10px;
  }

  .home-info p {
      font-size: 9px;
  }

  .home-info h2 {
      font-size: 12px;
  }
}
